/* General Setup */
@font-face {
    font-family: "Moderat Medium";
    src: url(../fonts/Moderat-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "Moderat Bold";
    src: url(../fonts/Moderat-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "CMU Serif Roman";
    src: url(../fonts/cmunrm.ttf) format("truetype");
}

@font-face {
    font-family: "CMU Serif Bold";
    src: url(../fonts/cmunbx.ttf) format("truetype");
}

:root {
    font-size: 20px;
    scrollbar-width: thin;
    --background_colour: #000;
    --text_colour: #f1f1f1;
    --accent_colour: #28E;
    --accent_colour_light: #68E;
    --accent_colour_secondary: #80E;
    --accent_colour_secondary_light: #95E;
    --titlesize: 1.6rem;
}

.span-highlight {
    background-color: color-mix(in srgb, var(--accent_colour_secondary) 35%, transparent);
    color: var(--accent_colour_secondary);
    padding: 0.07rem 0.3rem;
    margin-top: 2px;
    font-family: 'Moderat Bold', sans-serif;
    display: inline-block;
}

@media (prefers-color-scheme: light) {
    :root {
        --background_colour: #f1f1f1;
        --text_colour: #000;
    }

    .span-highlight {
        background-color: color-mix(in srgb, var(--accent_colour_secondary) 20%, transparent);
    }

    .title-image p {
        backdrop-filter: blur(5px);
        background-color: color-mix(in srgb, var(--background_colour) 30%, transparent);
    }
}

@media (max-width: 450px) {
    :root {
        font-size: 16px;
    }
}

@media (max-width: 300px) {
    :root {
        font-size: 13px;
    }
}

body {
    font-size: 1rem;
    letter-spacing: -0.2px;
    background-color: var(--background_colour);
    color: var(--text_colour);
    margin: 0;
    padding: 0;
    font-family: 'CMU Serif Roman', serif;
}

a {
    text-decoration: none;
    color: var(--accent_colour);
}

a:hover {
    color: var(--accent_colour_light);
    /*color: color-mix(in oklab, var(--accent_colour) 85%, var(--background_colour));*/
}

a:visited {
    text-decoration: underline;
    color: var(--accent_colour_secondary);
}

a:visited:hover {
    color: var(--accent_colour_secondary_light);
    /*color: color-mix(in oklab, var(--accent_colour_secondary) 85%, var(--background_colour));*/
}

h1 {
    font-family: 'Moderat Bold', sans-serif;
    font-size: var(--titlesize);
    font-weight: 400;
    margin: auto;
    margin-bottom: 10px;
}

h2 {
    font-family: 'Moderat Bold', sans-serif;
    font-size: calc(var(--titlesize) - 0.2rem);
    font-weight: 400;
    margin: auto;
    margin-bottom: 10px;
}

p {
    margin: 0 10px 15px 10px;
    box-sizing: border-box;
    text-align: justify;
    hyphens: auto;
}

ul {
    margin: 0 10px 25px 25px;
    padding-left: 20px;
    list-style-type: square;
}

p a {
    /* Bold links in text */
    font-weight: 700;
}

li a {
    /* Bold links in text */
    font-weight: 700;
}

.no-select {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
}

.key-information {
    opacity: 0;
    position: fixed;
    pointer-events: none;
}

.main_body {
    max-width: 800px;
    margin: auto;
    padding: 30px 10px;
    background-color: var(--background_colour);
    overflow: hidden;
}

/* Title + Image*/
.title-image {
    position: relative;
    width: 100%;
}

.title-image img {
    width: 100%;
}

.title-name-container {
    position: absolute;
    top: 0;
    left: 0;
}

.name-text  {
    display: inline;
    color: var(--accent_colour_secondary);
}

.name-text-overlap {
    display: inline;
    position: relative;
    cursor: pointer;
}

#name {
    opacity: 1;
    transition: opacity 0.6s;
    position: relative;
    z-index: 1;
}

#name:hover {
    opacity: 0;
}

#alias {
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
    left: 0;
    top: -0.65rem;
    z-index: 0;
    width: 300%;
}

#name:hover+#alias {
    opacity: 1;
}

.pronouns {
    color: var(--text_colour);
    font-size: 1rem;
    font-style: italic;
}

.title-image p {
    position: absolute;
    top: 2.3rem;
    left: 0;
    width: 400px;
    padding: 10px;
    margin-left: 0;
    margin-right: 0;

    text-align: left;
}

.title-links {
    position: absolute;
    left: 10px;
    bottom: 13px;
    font-family: 'Moderat Bold', sans-serif;
}

.title-links a {
    margin-right: 10px;
}

.social_icons {
    position: absolute;
    right: 0;
    bottom: 8px;
    font-size: 0;
}

.social_icons a svg {
    width: calc(var(--titlesize) * 0.875);
    height: calc(var(--titlesize) * 0.875);
    fill: var(--text_colour);

    margin-right: 8px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}

.social_icons a svg:hover {
    fill: color-mix(in oklab, var(--text_colour) 75%, transparent);
}

@media (max-width: 800px) {
    .title-image p {
        background-color: color-mix(in srgb, var(--background_colour) 30%, transparent);
        backdrop-filter: blur(5px);
    }
}

@media (max-width: 400px) {
    .title-image p {
        width: calc(100%);
    }

    .title-image .title-links {
        width: 150px;
    }

    .title-image {
        height: 250px;
    }
}

@media (max-width: 300px) {
    .title-image {
        height: 200px;
    }
}

.link-banner {
    max-width: 800px;
    height: calc(var(--titlesize) + 16px);
    position: relative;
    margin: auto;
    background-color: var(--background_colour);
    position: sticky;
    top: 0;
    box-shadow: 0 7px 5px -7px color-mix(in srgb, var(--text_colour) 30%, transparent);
}

.quote {
    padding-left: 10px;
    padding-right: 10px;
    width: calc(100% - 20px);
    border-left: 5px solid var(--accent_colour_secondary);
    box-sizing: border-box;
    margin-bottom: 20px;
    font-family: 'CMU Serif Roman', serif;
}

.text-padding {
    margin: 0 10px 25px 10px;
    box-sizing: border-box;
}

/* Buttons */
div.buttons_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

div.buttons_container img {
  image-rendering: pixelated;
}

/* Impressum/Footer */
.impressum {
    padding-top: 40px;
    display: flex;
    font-family: 'Moderat Medium', sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
}

.impressum_column {
    margin: 0 10px 0 10px;
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 100%;
}

.impressum_column a {
    font-weight: 300;
}

.impressum_column span {
    font-family: 'Moderat Bold', sans-serif;
}

.impressum_center {
    text-align: center;
}

.clickableImg {
    width: var(--titlesize);
    margin-top: 5px;
    margin-bottom: -4px;
}

@media (max-width: 750px) {
    .impressum {
        padding-top: 20px;
        flex-wrap: wrap;
    }

    .impressum_column {
        flex-shrink: 0;
        flex-grow: 1;
        margin-bottom: 10px;
        flex-basis: auto;
    }

    .impressum_left {
        order: 1;
        width: calc(50% - 20px);
    }

    .impressum_center {
        order: 3;
    }

    .impressum_right {
        order: 2;
        width: calc(50% - 20px);
    }
}

@media (max-width: 500px) {
    .impressum_column {
        padding-left: 10px;
    }
}

/* Blog footer */
.blog_footer {
    font-family: 'Moderat Bold', sans-serif;
    margin: -15px 10px 25px 10px;
}

table,
th,
td {
    border-collapse: collapse;
}

table.blog_post_list {
    list-style-type: none;
    padding: 0;
    margin: 20px 10px 25px 10px;
    font-family: 'Moderat Medium', sans-serif;
    width: calc(100% - 20px);
    box-sizing: border-box;
}

table.blog_post_list * * *:nth-child(2) {
    text-align: right;
}

table.blog_post_list * tr td {
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid var(--text_colour);
}

table.blog_post_list * tr:nth-child(1) td {
    border-top: 1px solid var(--text_colour);
}

/* Prism code highlighting */
.code-toolbar {
    position: relative;
}

div.code-toolbar .toolbar {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

div.code-toolbar:hover .toolbar {
    opacity: 1;
}

.code-toolbar .toolbar .toolbar-item {
    display: block;
    float: right;
    background-color: color-mix(in srgb, var(--accent_colour_secondary) 20%, transparent);
}

.code-toolbar .toolbar .toolbar-item button {
    border: none;
    background-color: transparent;
    font-family: 'Moderat Bold';
    font-size: 0.8em;
    cursor: pointer;
    color: var(--accent_colour_secondary);
}